#Import library

In [ ]:
import pandas as pd
import numpy as np
import matplotlib as plt

#Import csv

In [ ]:
df = df.read_csv('nexo_bigquery.csv')

In [ ]:
#df.info()

In [ ]:
#rename columns
df.rename(columns = {'USD_Equivalent': 'USD', 'Outstanding_Loan':'Loan', 'Date___Time':'Date'}, inplace = True)

#Replace currency

In [ ]:
df.replace(regex = {'USDTERC':'USDT'},inplace = True)

In [ ]:
df.replace(regex = {'XLMUSDT':'USDT'},inplace = True)

In [ ]:
df.replace(regex={'XLMHUSD':'HUSD'},inplace=True)

In [ ]:
df.replace(regex={'XLMBTC':'BTC'},inplace=True)

In [ ]:
df.replace(regex = {'LINKUSDC':'USDC'},inplace = True)

In [ ]:
df.replace(regex={'TRXPAX':'PAX'},inplace=True)

In [ ]:
df.replace(regex={'TRXEURX':'EUR'},inplace=True)

In [ ]:
df.replace(regex={'PAXTRX':'TRX'},inplace=True)

In [ ]:
df.replace(regex = {'NEXONEXOBTC':'BTC'},inplace = True)

In [ ]:
df.replace(regex={'BTCDAI':'DAI'},inplace=True)

In [ ]:
df.replace(regex={'ETHEURX':'EUR'},inplace=True)

In [ ]:
df.replace(regex={'EURXETH':'ETH'},inplace=True)

In [ ]:
df.replace(regex={'BTCEURX':'EUR'},inplace=True)

In [ ]:
df.replace(regex={'EURXBTC':'BTC'},inplace=True)

In [ ]:
df.replace(regex={'BTCGBPX':'GBP'},inplace=True)

In [ ]:
df.replace(regex={'BTCUSDC':'USDC'},inplace=True)

In [ ]:
df.replace(regex={'ETHGBPX':'GBP'},inplace=True)

In [ ]:
df.replace(regex={'ETHTRX':'TRX'},inplace=True)

In [ ]:
df.replace(regex={'LTCBTC':'BTC'},inplace=True)

In [ ]:
df.replace(regex={'LTCUSDC':'USDC'},inplace=True)

In [ ]:
df.replace(regex={'NEXOBNBETH':'ETH'},inplace=True)

In [ ]:
df.replace(regex={'NEXOBNBUSDC':'USDC'},inplace=True)

In [ ]:
df.replace(regex={'NEXONEXOETH':'ETH'},inplace=True)

In [ ]:
df.replace(regex={'ETHPAX':'PAX'},inplace=True)

In [ ]:
df.replace(regex={'GBPX':'GBP'},inplace=True)

In [ ]:
df.replace(regex={'ETHUSDC':'USDC'},inplace=True)

#Set new value with conditions

In [ ]:
df.loc[(df['Type']=='Interest') & (df['Currency']=='NEXONEXO') & (df['USD']>0), ['Currency']]='NEXO'

In [ ]:
df.loc[(df['Type'] == 'Interest') & (df['Currency']=='NEXOUSD') & (df['USD']==0), ['Currency']]  = 'USD'

In [ ]:
df.loc[(df['Type'] == 'Interest') & (df['Currency']=='NEXO') & (df['USD']==0), ['Currency']]  = 'NEXO'

In [ ]:
df.loc[(df['Currency']=='NEXOBNB'),['Currency']]='BNB'

In [ ]:
df.loc[(df['Details'] == 'approved / BNB withdrawal	'), ['Currency']]  = 'BNB'

In [ ]:
df.loc[(df['Details'] == 'approved / Exchange NEXO Token to Tether') & (df['Currency']=='NEXONEXOUSDT'), ['Currency']]  = 'USDT'

In [ ]:
df.loc[(df['Type'] == 'Deposit') & (df['Currency']=='NEXOBEP2'), ['Currency']]  = 'NEXO'

In [ ]:
df.loc[(df['Type'] == 'Liquidation') & (df['Currency']=='NEXONEXO'), ['Currency']]  = 'NEXO'

In [ ]:
df.loc[(df['Type'] == 'Withdrawal') & (df['Currency']=='NEXONEXO'),['Currency']]  = 'NEXO'

In [ ]:
df.loc[(df['Type'] == 'TransferOut') & (df['Currency']=='NEXONEXO'), ['Currency']]  = 'NEXO'

In [ ]:
df.loc[(df['Details']== 'approved / SAI withdrawal'),['Currency']] = 'DAI'

In [ ]:
df.loc[(df['Details']=='approved / DAI withdrawal'),['Currency']] = 'DAI'

In [ ]:
df.loc[(df['Details']=='approved / TUSD withdrawal') & (df['Currency']=='NEXOUSD'),['Currency']] = 'TUSD'

In [ ]:
df.loc[(df['Details']=='approved / USDC withdrawal') & (df['Currency']=='NEXOUSD'),['Currency']]='USDC'

In [ ]:
df.loc[(df['Details']=='approved / PAX withdrawal') & (df['Currency']=='NEXOUSD'),['Currency']]='PAX'

In [ ]:
df.loc[(df['Type']=='Liquidation') & (df['Currency']=='NEXOUSD'),['Currency']]='USD'

In [ ]:
df.loc[(df['Type']=='Deposit')&(df['Currency']=='BNBN'),['Currency']]='BNB'

#Dataframe group

In [ ]:
#df
df.groupby('Currency').count()

          Transaction  Type  Amount  USD  Details  Loan  Date
Currency
BCH               113   113     113  113      113   113   113
BNB                23    23      23   23       23    23    23
BTC               165   165     165  165      165   165   165
DAI               108   108     108  108      108   108   108
EOS                92    92      92   92       92    92    92
ETH               100   100     100  100      100   100   100
EUR                14    14      14   14       14    14    14
GBP                 4     4       4    4        4     4     4
HUSD                2     2       2    2        2     2     2
LINK               75    75      75   75       75    75    75
LTC                98    98      98   98       98    98    98
NEXO              638   638     638  638      638   638   638
PAX               219   219     219  219      219   219   219
PAXG               23    23      23   23       23    23    23
TRX                28    28      28   28       28    28    28
TUSD               97    97      97   97       97    97    97
USD               846   846     846  846      846   846   846
USDC              180   180     180  180      180   180   180
USDT              139   139     139  139      139   139   139
XLM               121   121     121  121      121   121   121
XRP               123   123     123  123      123   123   123

#Save dataframe

In [ ]:
df = df[['Date','Type','Currency','Amount','USD','Loan','Details']]

In [ ]:
df.to_csv('nexo_bigquery.csv')