In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib as plt

In [4]:
df0 = pd.read_csv('nexo_transactions.csv')

In [5]:
df0.rename(columns = {'USD Equivalent': 'USD', 'Outstanding Loan':'Loan', 'Date / Time':'Date'}, inplace = True)

In [6]:
df0.replace(regex = {'\$':''}, inplace = True)

In [7]:
df0['Date'] = pd.to_datetime(df0["Date"]) #convert date time

In [8]:
df0['USD'] = pd.to_numeric(df0["USD"]) #convert date time

In [9]:
df0.replace(regex = {'NEXONEXO':'NEXO'}, inplace = True)

In [10]:
df0 = df0.query(" Type == 'Interest' ")

In [11]:
df0.replace(regex = {'NEXOUSD':'NEXO'}, inplace = True)

In [12]:
#df0.query(" Type == 'Interest'").groupby('Currency').count()

In [13]:
df0 = df0.query(" Type == 'Interest'")

In [14]:
df0.to_csv('nexo_interest.csv')

In [15]:
df1 = df0.query(" Type == 'Interest' and Currency == 'USD'")

In [16]:
df2 = df0.query(" Type == 'Interest' and Currency == 'NEXO'")

In [17]:
np.array(df1['USD']).sum()

89.94468203002849

In [18]:
np.median(df1['Amount'])

-0.13

In [19]:
np.mean(df1['Amount'])

-0.19137166389361707

In [20]:
np.min(df1['Amount'])

-0.6

In [21]:
np.array(df2['Amount']).sum()

88.21900402

In [22]:
np.median(df2['Amount'])

0.092682975

In [23]:
np.max(df2['Amount'])

0.42848376

In [24]:
df2.head()

,Transaction,Type,Currency,Amount,USD,Details,Loan,Date
0,NXTx1hHFv3LCT,Interest,NEXO,0.094201,0.260280,approved / 0.22127317 EURx,3488.49,2021-04-05 01:00:03
1,NXTAXFw7FXTT0,Interest,NEXO,0.054542,0.150702,approved / 0.00007234 ETH,3488.49,2021-04-05 01:00:03
2,NXThKvQuIYaXP,Interest,NEXO,0.022573,0.062369,approved / 0.04511758 GBPx,3488.49,2021-04-05 01:00:03
3,NXT3tJg8TIqBP,Interest,NEXO,0.085492,0.236217,approved / 0.00000403 BTC,3488.49,2021-04-05 01:00:03
5,NXTkP2gZEBd8O,Interest,NEXO,0.096329,0.260202,approved / 0.22127317 EURx,3487.92,2021-04-04 01:00:03

In [25]:
df2.tail()

,Transaction,Type,Currency,Amount,USD,Details,Loan,Date
3097,NXT6E3jsBr6Ps,Interest,NEXO,0.007289,0.0,approved / USD Interest Earned,0.00,2019-08-11 01:00:05
3098,NXTJGMO0nNEoo,Interest,NEXO,0.007287,0.0,approved / USD Interest Earned,0.00,2019-08-10 01:00:05
3100,NXTGPx27JuuOE,Interest,NEXO,0.007001,0.0,approved / USD Interest Earned,0.00,2019-08-09 01:00:05
3101,NXT69qnVEJ60F,Interest,NEXO,0.007000,0.0,approved / USD Interest Earned,0.00,2019-08-08 01:00:05
3104,NXTBEO559llTJ,Interest,NEXO,0.002503,0.0,approved / USD Interest Earned,0.00,2019-08-07 01:00:05